body {
    font-family: sans-serif;
    background-color: black;
    color: azure;
}
.sdf{
text-align:center;
}
.pa{
color:blue;
}
.sdр{
text-align:right;
color: rgb(225, 255, 0);
}
.ba{
    display: flex;
    justify-content: center;
    left: 50%;
    align-items: center;
}
nav a{
    text-decoration: none;
    background-color: rgb(41, 234, 128);
    padding: 7px;
    border-radius: 40px;
    margin-right: 70px;
}
.wwq{
    text-align: center;
}
.ssl{
    border-radius:40px ;
    opacity: 0.2;
}
.ssl:hover{
     opacity: 1;
     border:6px solid hwb(115 18% 62%);
    padding: 5px;
    transition: 0.5s ease-out;
}
.asq{
    position: absolute;
    top: 505px;
    left: 100px;
    border-radius:40px ;
    opacity: 0.2;
}
.asq:hover{
     opacity: 1;
     border:6px solid hwb(117 29% 63%);
    padding: 5px;
    transition: 0.5s ease-out;
}
.qwe{
     border-radius:40px ;
}
footer{
    background-color: rgb(18, 18, 18);
}
